.header {
  padding: 1.5rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.5em;
}

.results {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.resItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.resItem span {
  font-weight: bold;
  font-size: 26px;
  color: var(--winColor);
}
.resItem:last-child span {
  color: var(--loseColor);
}
